*.obj
*.o
*.dll
*.exe
*.so
*.map
*.a
hxcfe
bmptoh
hxcfloppyemulator
HxCFloppyEmulator_software/sources/thirdpartylibs/fltk/fltk-1.x.x
HxCFloppyEmulator_software/sources/thirdpartylibs/fltk/fltk-1.3.8-source.tar.gz
HxCFloppyEmulator_software/sources/gui/fluid/*.h
HxCFloppyEmulator_software/sources/gui/fluid/*.cxx
